html {
  font-size: 12px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media (max-width: 1575px) {
  html {
    font-size: 8px;
  }
}

@media (max-width: 1140px) {
  html {
    font-size: 6px;
  }
}

@media (max-width: 935px) {
  html {
    font-size: 4px;
  }
}

body {
  margin: 0;
}

@font-face {
  font-family: illegalEdding;
  src: url('./fonts/illegaledding.ttf');
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
}

.header-content {
  width: 80%;
  padding: 0 0.75rem 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-content-mobileMenu {
  display: none;
}

.header-content-mobileMenu__checkbox {
  display: none;
  width: 0;
  height: 0;
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
}

.header-content-mobileMenu__logo {
  width: 10rem;
  height: 10rem;
}

.header-content__logo {
  width: 8.33rem;
  height: 8.33rem;
}

.header-content-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-content-links__link {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: #FFFFFF;
  margin-left: 3.66rem;
  text-decoration: none;
  -webkit-transition: color 0.6s;
  -o-transition: color 0.6s;
  transition: color 0.6s;
}

.header-content-links__link:first-child {
  margin-left: 0 !important;
}

.header-content-links__link:hover {
  color: rgb(255 139 94);
}

.header-content-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-top: 1.6rem;
  margin-right: 0.5rem;
  position: relative;
}

.header-content-menu__deskBtn {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 1.1rem;
  line-height: 1.33rem;
  color: #FFFFFF;
  background-image: url('./imgs/my-desk-border.png');
  background-size: cover;
  padding: 1.33rem 3rem 2.33rem 2.33rem;
  cursor: pointer;
  text-decoration: none;
}

.header-content-menu-drop {
  display: none;
  background-image: url('./imgs/menu-bg.png');
  background-size: cover;
  position: absolute;
  z-index: 999;
  width: 9.4rem;
  top: 1.3rem;
  left: 2.4rem;
  padding: 2.5rem 0 2rem;
}

.header-content-menu-wallet {
  background-image: url('./imgs/wallet-border.png');
  background-size: cover;
  padding: 1.6rem 2.2rem 2.2rem 2rem;
  margin-left: -3.2rem;
}

.header-content-menu-wallet__icon {
  width: 0.9rem;
  height: 0.7rem;
  display: block;
  position: relative;
  z-index: 1000;
  cursor: pointer;
}

.header-content-menu__checkbox:checked ~ .header-content-menu-drop  {
  display: block;
}

.header-content-menu-drop-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0.25rem 0.55rem 0.25rem 1rem;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 0.9rem;
  color: #FFFFFF;
  text-decoration: none;
}

.header-content-menu-drop-link__icon {
  width: 0.8rem;
  height: 0.8rem;
}

@media (max-width: 515px) {
  .header {
    position: relative;
    background-color: black;
  }
  
  .header-content {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 3rem;
  }

  .header-content-mobileMenu {
    display: inline-block;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  
  .header-content__logo {
    display: none;
  }

  .header-content-mobileMenu__checkbox {
    display: initial;
  }

  .header-content-mobileMenu__checkbox:checked ~ .header-content-links {
    height: auto;
    visibility: visible;
    padding-left: 2.66rem;
  }
  
  .header-content-links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
    -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
    -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
    height: 0;
    visibility: hidden;
  }

  .header-content-links__link {
    margin-left: 0;
    font-size: 2.8rem;
    line-height: 3rem;
  }

  .header-content-menu {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .header-content-menu__deskBtn {
    font-size: 1.5rem;
    line-height: 1.9rem;
    padding: 1.66rem 3.66rem 2.7rem 3rem;
  }

  .header-content-menu-wallet {
    padding: 2.1rem 2.9rem 2.9rem 2.6rem;
    margin-left: -4.2rem;
  }

  .header-content-menu-wallet__icon {
    width: 1.2rem;
    height: 1rem;
  }

  .header-content-menu-drop {
    width: 12rem;
    top: 1.7rem;
    left: 4.3rem !important;
    padding-bottom: 1.7rem;
  }

  .header-content-menu-drop-link {
    margin: 0.5rem 0.55rem 0.5rem 1rem;
    font-size: 1rem;
    line-height: 1.2rem;
  }
}

.header-content-menu__deskBtn > span {
  position: relative;
  z-index: 1000;
}

.header-content-menu__checkbox {
  visibility: hidden;
  width: 0;
  height: 0;
}

@media (max-width: 1500px) {
  .header-content-menu-drop {
    left: 2.6rem;
  }
}

@media (max-width: 1140px) {
  .header-content-menu-drop {
    left: 2.8rem;
  }
}

@media (max-width: 935px) {
  .header-content-menu-drop {
    left: 3.4rem;
  }
}

.game-video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  background: url('./imgs/UFC-index-bg.png'), url('./imgs/UFC-index-bg-min.png'), rgba(3, 2, 39, 0.65);
  background-size: cover;
}

.game-video-content {
  width: 80%;
  background: rgba(3, 2, 39, 0.65);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.game-video-content__title {
  font-family: 'IllegalEdding';
  font-style: normal;
  font-weight: 400;
  font-size: 4rem;
  line-height: 4.6rem;
  color: #FFFFFF;
  text-shadow: 0px 0px 4.16rem rgba(255, 255, 255, 0.8);
  margin-top: 12rem;
}

@media (max-width: 515px) {
  .game-video-content {
    width: 100%;
  }
  
  .game-video-content__title {
    margin-top: 2rem;
  }
}

.game-video-content-video {
  position: relative;
  margin-top: 1.75rem;
  margin-bottom: 1.55rem;
  -webkit-filter: drop-shadow(0px 4.16rem 8rem rgba(255, 139, 94, 0.65));
  filter: drop-shadow(0px 4.16rem 8rem rgba(255, 139, 94, 0.65));
  outline: 9rem solid transparent;
  width: 58%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.game-video-content-video::before {
  content: '';
  height: 7%;
  width: 84%;
  background-image: url(./imgs/video-img-top.png);
  background-size: cover;
  z-index: 2;
  position: absolute;
  filter: none;
  top: 0.84%;
  right: 0.61%;
}

.game-video-content-video::after {
  content: '';
  height: 7.6%;
  width: 84%;
  background-image: url(./imgs/video-img-bot.png);
  background-size: cover;
  z-index: 2;
  position: absolute;
  filter: none;
  bottom: 0.84%;
  left: 0.37%;
}

.game-video-content-video__bg {
  width: 100%;
}

.game-video-content-video__bg_playing {
  width: 95%;
  padding-top: 1.4%;
  padding-bottom: 1%;
}

.game-video-content-video__playBtn {
  width: 9.45rem;
  height: 9.45rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  cursor: pointer;
}

.game-video-content-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.game-video-content-buttons__button {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 1.08rem;
  line-height: 0.65rem;
  color: #FFFFFF;
  text-shadow: 0px 0.15rem 1.04rem #FFFFFF;
  position: relative;
  cursor: pointer;
}

.game-video-content-buttons__button_game {
  background: url('./imgs/gameBorder.png');
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 8.5rem;
  height: 2.5rem;
}

.game-video-content-buttons__button_game::before {
  content: '';
  height: 25%;
  width: 86%;
  background-image: url('./imgs/gameBefore.png');
  background-size: cover;
  z-index: 2;
  position: absolute;
  top: 5.2%;
  right: 0.03%;
}

.game-video-content-buttons__button_game::after {
  content: '';
  height: 27%;
  width: 84%;
  background-image: url('./imgs/gameAfter.png');
  background-size: cover;
  z-index: 2;
  position: absolute;
  bottom: 3.5%;
  left: 1%;
}

@media (max-width: 935px) {
  .game-video-content-buttons__button_game {
    width: 8.7rem;
    height: 2.6rem;
  }
}

.game-video-content-buttons__button_buy {
  background: url('./imgs/buyBorder.png');
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 9.1rem;
  height: 2.5rem;
  margin-top: 0.5rem;
  margin-left: -0.2rem;
}

.game-video-content-about {
  margin-top: 3rem;
  width: 82%;
}

.game-video-content-about__title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 1.65rem;
  line-height: 2.04rem;
  color: #FFFFFF;
  text-shadow: 0px 0px 4.16rem rgba(255, 255, 255, 0.8);
  text-align: center;
}

.game-video-content-about__desc {
  font-family: 'Montserrat';
  font-weight: 300;
  font-size: 1.25rem;
  line-height: 1.54rem;
  text-align: center;
  color: rgba(255, 255, 255, 0.65);
}